# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
.venv

# SSL сертификаты (не коммитить!)
ssl/

# База данных
data_base/*.db
data_base/*.db-journal

# Логи
*.log

# Переменные окружения
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
